@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@300;400;600;700&display=swap");

:root {
  --background-color: linear-gradient(to right, #ad5389, #3c1053);
  --text-color: #fff;
  --hover: #f7acc6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monserrat";
}

html {
  scroll-behavior: smooth;
}

.contenedor__burbujas {
  background: var(--background-color);
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.bubbles {
  position: relative;
  display: flex;
}

.bubbles span {
  position: relative;
  width: 25px;
  height: 25px;
  background: #d9eff4;
  margin: 0 4px;
  border-radius: 50px;
  box-shadow: 0 0 0 10px #d9eff444, 0 0 50px #d9eff4, 0 0 100px #d9eff4;
  animation: animate 15s linear infinite;
  animation-duration: calc(400s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #f7acc6;
  box-shadow: 0 0 0 10px #f7acc644, 0 0 50px #f7acc6, 0 0 100px #f7acc6;
}

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}

.header {
  position: fixed;
  background-color: #f7acc644;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.header a {
  text-decoration: none;
}

.header__logo {
  font-size: 36px;
  color: var(--text-color);
}

.header__logo:hover {
  color: var(--text-color);
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

.nav li {
  list-style: none;
  display: inline-block;
  margin: 0 35px;
}

.nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: 0.3s ease;
}

.nav a:hover {
  color: var(--hover);
  border-bottom: 2px solid currentcolor;
}

.nav__logos a {
  margin: 0 15px;
}

.nav__logos i {
  color: var(--text-color);
}

.nav__logos i:hover {
  color: var(--text-color);
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}
.contenido-descripcion {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 3px;
}

.contenido-descripcion .h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--text-color);
  text-shadow: 5px 5px 10px #fff;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 70px;
  letter-spacing: 5px;
  display: block;
  font-weight: 700;
}

.contenido-descripcion h3 {
  color: var(--text-color);
  font-size: 25px;
}
.iconos-stack {
  color: var(--text-color);
  margin: 20px 0;
}

.contenido-descripcion .btn-link {
  display: inline-block;
  padding: 10px 20px;
  margin: 100px 0;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #f7acc6;
  font-weight: bold;
  border: 2px solid #f7acc6;
  transition: 0.3s ease;
}

.contenido-descripcion .btn-link:hover {
  border: 2px solid #fff;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
  animation: none;
}

/* SECCION SOBRE MI */

#sobremi {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "titulos titulos titulos"
    "imagen texto texto";
  background: var(--background-color);
  color: var(--text-color);
  text-align: center;
  height: 100vh;
  padding: 30px 40px;
}
.sobremi-titulos {
  grid-area: titulos;
}

.sobremi-titulos h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 80px 0 20px;
  letter-spacing: 2px;
}

.sobremi-titulos h2 span {
  color: #ffafbd;
}

.sobremi-titulos h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#sobremi .sobremi img {
  margin-top: 50px;
  grid-area: imagen;
  height: 350px;
}
#sobremi .sobremi-texto {
  grid-area: texto;
}
#sobremi .sobremi-texto p {
  letter-spacing: 1.5px;
  font-size: 17px;
  line-height: 25px;
  color: var(--text-color);
  margin-top: 50px;
  margin-right: 70px;
}

/* SECCION PORTFOLIO */

#portfolio {
  width: 100%;
  height: 100vh;
  padding: 50px 0;
}

#portfolio .titulo-seccion {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
  margin: 50px auto;
}

#portfolio .proyecto__iconos {
  display: flex;
  justify-content: center;
  margin: 10px 15px;
}
#portfolio .proyecto__iconos a {
  margin: 10px 20px;
  color: var(--text-color);
}
#portfolio .proyecto__iconos a:hover {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

/* CARRUSEL */
.swiper {
  font-family: "Roboto", sans-serif;
  max-width: 90%;
}

.swiper .card {
  width: 450px;
  text-align: center;
  box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.2);
}

.swiper .thumbnail {
  width: 100%;
  height: 300px;
}

.swiper .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.swiper .card .title-container {
  display: inline-block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 8px;
  text-decoration: none;
}

.swiper .card .title-container h3 {
  margin: 0;
  color: #fff;
  font-size: 20px;
}

.swiper .card .description {
  font-size: 16px;
  line-height: 1.8;
  color: #fff;
  padding: 8px;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 8px;
  box-shadow: 0 15px 40px -3px rgba(0, 0, 0, 0.3);
}

/* SECCION RESPONSIVE */

@media screen and (max-width: 768px) {
  .bubbles {
    display: none;
  }
  .header {
    position: relative;
    display: grid;
    grid-template-rows: repeat(3, 100%);
  }

  .nav li {
    display: inline-flex;
    margin: 0 10px;
  }
  .nav a {
    font-size: 17px;
  }
  .nav__logos {
    margin: 0 auto;
  }
  .contenido-descripcion {
    display: flex;
    width: 100%;
  }
  .contenido-descripcion .h1 {
    margin-top: 180px;
    margin-right: 50px;
    letter-spacing: 1.5px;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 700;
  }
  .contenido-descripcion h3 {
    font-size: 19px;
  }
  .iconos-stack {
    margin: 20px auto;
  }
  .contenido-descripcion .btn-link {
    margin: 70px 0;
    width: 45%;
  }
  #sobremi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "titulos titulos"
      "texto texto";
    margin-top: 100px;
    text-align: center;
    padding: 10px 10px;
  }
  .sobremi-titulos {
    margin: 20px auto;
  }

  #sobremi .sobremi img {
    display: none;
  }
  #sobremi .sobremi-texto p {
    margin: 0 auto;
    padding: 0 10px;
  }
}
