:root {
  --background-color: linear-gradient(to right, #ad5389, #3c1053);
  --text-color: #fff;
  --hover: #f7acc6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

html {
  scroll-behavior: smooth;
}

.contenedor__burbujas {
  background: var(--background-color);
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.bubbles {
  position: relative;
  display: flex;
}

.bubbles span {
  position: relative;
  width: 25px;
  height: 25px;
  background: #d9eff4;
  margin: 0 4px;
  border-radius: 50px;
  box-shadow: 0 0 0 10px #d9eff444, 0 0 50px #d9eff4, 0 0 100px #d9eff4;
  animation: animate 15s linear infinite;
  animation-duration: calc(400s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #f7acc6;
  box-shadow: 0 0 0 10px #f7acc644, 0 0 50px #f7acc6, 0 0 100px #f7acc6;
}

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}

/* HEADER */

.header {
  display: flex;
  width: 100%;
  position: fixed;
  background-color: #f7acc644;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.header__logo {
  font-size: 36px;
  color: var(--text-color);
}

.header__logo:hover {
  color: var(--text-color);
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}
.nav {
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: ". links iconos";
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav li {
  list-style: none;
  display: inline-block;
  grid-area: links;
}

.nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: 0.3s ease;
}

.nav a:hover {
  color: var(--hover);
}

.nav__logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__logos a {
  grid-area: iconos;
}

.nav__logos i {
  font-size: 30px;
  color: var(--text-color);
}

.nav__logos i:hover {
  color: var(--text-color);
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

/* HOME */

.home {
  width: 90%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: auto;
  letter-spacing: 3px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(5, 20%);
  grid-template-areas:
    ". . ."
    ". h1 ."
    ". h3 ."
    ". btn ."
    ". . .";
}

.home h1 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: var(--text-color);
  text-shadow: 5px 5px 10px #fff;
  margin-bottom: 20px;
  font-size: 70px;
  letter-spacing: 5px;
  font-weight: 700;
  grid-area: h1;
}

.home h3 {
  color: var(--text-color);
  font-size: 25px;
  margin-bottom: 90px;
  text-align: center;
  grid-area: h3;
}
.home .iconos-stack {
  font-size: 25px;
  color: var(--text-color);
  text-align: center;
  grid-area: h3;
}

.home .btn-link {
  width: 30%;
  padding: 10px 10px;
  margin: auto;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #f7acc6;
  font-weight: bold;
  border: 2px solid #f7acc6;
  transition: 0.3s ease;
  grid-area: btn;
}

.home .btn-link:hover {
  border: 2px solid #fff;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
  animation: none;
}

/* SOBRE MI */

#sobremi {
  width: 90%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, 30%);
  grid-template-areas:
    ". titulos ."
    "imagen texto texto"
    "imagen texto texto";
  background: var(--background-color);
  color: var(--text-color);
}
.sobremi__titulos {
  grid-area: titulos;

  justify-content: center;
  text-align: center;
}

.sobremi__titulos h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 80px 0 20px;
  letter-spacing: 2px;
}

.sobremi__titulos h2 span {
  color: #ffafbd;
}

.sobremi__titulos h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.sobremi__imagen {
  grid-area: imagen;
}

.sobremi__imagen img {
  height: 350px;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
}
.sobremi__texto {
  grid-area: texto;
  height: 100%;
  margin: 150px 0 10px;
}
.sobremi__texto p {
  padding: 10px;
  justify-content: center;
  letter-spacing: 1.4px;
  font-size: 17px;
  line-height: 25px;
  color: var(--text-color);
  text-align: center;
}
/* PORTFOLIO */

#portfolio {
  width: 100%;
  height: 100vh;
  padding: 50px 0;
}

#portfolio .titulo-seccion {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
  margin: 50px auto;
}

#portfolio .proyecto__iconos {
  display: flex;
  justify-content: center;
  margin: 10px 15px;
}
#portfolio .proyecto__iconos a {
  margin: 10px 20px;
  color: var(--text-color);
}
#portfolio .proyecto__iconos a:hover {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

/* CARRUSEL */
.swiper {
  font-family: "Roboto", sans-serif;
  max-width: 90%;
}

.swiper .card {
  width: 450px;
  text-align: center;
  box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.2);
}

.swiper .thumbnail {
  width: 100%;
  height: 300px;
}

.swiper .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.swiper .card .title-container {
  display: inline-block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 8px;
  text-decoration: none;
}

.swiper .card .title-container {
  margin: 0;
  color: #fff;
  font-size: 20px;
}

.swiper .card .description {
  font-size: 16px;
  line-height: 1.8;
  color: #fff;
  padding: 8px;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 8px;
  box-shadow: 0 15px 40px -3px rgba(0, 0, 0, 0.3);
}

/* DISEÑO RESPONSIVE */
@media screen and (max-width: 1024px) {
  #sobremi {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 30%);
    grid-template-areas:
      "titulos titulos "
      "imagen texto"
      "imagen texto";
  }
  .sobremi__imagen img {
    height: 250px;
    border-radius: 50%;
  }
  .sobremi__texto p {
    padding: 10px;
    margin-top: 30px;
    justify-content: center;
    letter-spacing: 1.2px;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .bubbles {
    display: none;
  }
  .header {
    display: none;
  }

  .home h1 {
    font-size: 45px;
  }
  .home h3 {
    font-size: 20px;
  }
  .home .iconos-stack {
    font-size: 20px;
    margin: 20px auto;
  }
  .home .btn-link {
    font-size: 14px;
    width: 50%;
    height: 50px;
  }
  #sobremi {
    display: grid;
    height: 100vh;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "titulos titulos"
      "texto texto";
    text-align: center;
    padding: 10px 10px;
    overflow: scroll;
  }
  .sobremi__titulos {
    margin: 0 auto;
  }

  .sobremi__imagen img {
    display: none;
  }
  .sobremi__texto p {
    margin: 0 auto;
    padding: 0 10px;
  }
}
